!D1namo  

!#❱❱╍Tamaño
URxvt*geometry: 87x22

!#❱❱╍Eliminar scroll
URxvt.scrollBar:false

!#❱❱╍Transparencia
URxvt*depth: 32
URxvt*background: rgba:0000/0000/0200/c800
URxvt*transparent: true
URxvt*shading: 30

!#❱❱╍Color del cursor
URxvt.cursorColor:#c5c8c6

!#❱❱╍Parpadeo al cursor
URxvt.cursorBlink:true

!#❱❱╍Pestañas
URxvt.perl-ext-commoni:default,tabbed

!#❱❱╍Color de fondo de las pestañas
URxvt.tabbed.tab-bg:#000000

!#❱❱╍Color frontal de las pestañas
URxvt.tabbed.tab-fg:#699000

!#❱❱╍Color de fondo de los separadores de pestañas
URxvt.tabbed.tabbar-bg:#000000

!#❱❱╍Color frontal de los separadores de las pestañas
URxvt.tabbed.tabbar-fg:#4E9A06

!#❱❱╍Copiar y pegar
URxvt*clipboard.autocopy:       true
URxvt*keysym.Control-C:         perl:clipboard:copy
URxvt*keysym.Control-V:         perl:clipboard:paste
URxvt*keysym.Control-Meta-v:    perl:clipboard:paste_escaped
URxvt*iso14755:                 false
URxvt*iso14755_52:              false
URxvt*perl-ext-common:          default,matcher,-tabbed,clipboard

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

!#❱❱╍config

!#❱❱╍Tamaño
xterm*vt100*geometry: 87x22

!#❱❱╍Color del cursor
xterm*.cursorBlink:true

!#❱❱╍Copiar y pegar
xterm*translations: #override \
	Ctrl Alt <KeyPress> 0: set-vt-font(d) \n\
	Ctrl Alt <KeyPress> +: larger-vt-font() \n\
	Ctrl Alt <KeyPress> -: smaller-vt-font() \n\
	Ctrl Shift <KeyPress> c: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <KeyPress> v: insert-selection(CLIPBOARD)


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! ------------------------------------------------------------------------------
!#❱❱╍config ROFI Color theme
! 
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #273238, #273238, #1e2529
rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844