!D1namo  
!
! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #151515
*.color8:       #c5c5c5

! red
*.color1:       #ac4142
*.color9:       #ac4142

! green
*.color2:       #90a959
*.color10:      #90a959

! yellow
*.color3:       #f4bf75
*.color11:      #f4bf75

! blue
*.color4:       #6a9fb5
*.color12:      #6a9fb5

! magenta
*.color5:       #aa759f
*.color13:      #aa759f

! cyan
*.color6:       #75b5aa
*.color14:      #75b5aa

! white
*.color7:       #d0d0d0
*.color15:      #f5f5f5


!#❱❱╍URXVT
!
URxvt.geometry: 59x22+0+0

!#❱❱╍URxvt.titulo:Consola
!
!URxvt.iconFile:/

!#❱❱╍Eliminar scroll
URxvt.scrollBar:false

!#❱❱╍Transparencia
URxvt.depth: 32
URxvt.background:[55]#000000

!#❱❱╍Letras
URxvt.foreground:#8abeb7

!#❱❱╍Color del cursor
URxvt.cursorColor:#c5c8c6

!#❱❱╍Parpadeo al cursor
URxvt.cursorBlink:true

!#❱❱╍Fuente
!URxvt.font:xft:Terminus:pixelsize=11:antialias=false
!URxvt.boldFont: xft:Terminus:bold:pixelsize=11:antialias=false
!
URxvt.font: xft:Tewi:pixelsize=11:antialias=true
URxvt.boldFont: xft:Tewi:pixelsize=11:antialias=true

!#❱❱╍Pixel
URxvt.letterSpace:-1

!#❱❱╍Pestañas
URxvt.perl-ext-commoni:default,tabbed

!#❱❱╍Color de fondo de las pestañas
URxvt.tabbed.tab-bg:#000000

!#❱❱╍Color frontal de las pestañas
URxvt.tabbed.tab-fg:#699000

!#❱❱╍Color de fondo de los separadores de pestañas
URxvt.tabbed.tabbar-bg:#000000

!#❱❱╍Color frontal de los separadores de las pestañas
URxvt.tabbed.tabbar-fg:#4E9A06
